<!-- /*
* File: app.components.html
* Author: Madarász Dávid
* Copyright: 2022, Madarász Dávid
* Group: Szoft II/N
* Date: 2022-01-13
* Github: https://github.com/afriyy/
* Licenc: GNU GPL
*/ -->


<div class="container">
  <div class="text-center">
    <h1>Testtömeg index számoló</h1>
    <h2>Készítő: Madarász Dávid</h2>
    <h3>Dátum: 2022.01.13</h3>
    
    <form [formGroup]="testtomegForm" class="mb-3">
      <label class="form-label">Tömeg (kg)</label>
      <br>
      <input class="form-control text-center" formControlName="tomeg">
      <br>
    
      <label class="form-label">Magasság (m)</label>
      <br>
      <input class="form-control text-center" formControlName="magassag">
      <br>
      <button class="btn btn-primary" (click)="onClickSzamito()">Számít</button>
      <br>
      <label>Testömeg index:</label>
      <br>
      <input class="form-control text-center" formControlName="testtomegindex" [disabled]="true">

    </form>
  </div>
</div>